<link rel="stylesheet" type="text/css" href="/Socialyte/css/main_style.css">

<div id="top_bar">
			
			<div id="logo_div">
				<a href="/Socialyte/"><img src="/Socialyte/img/logo.png" id="logo" /></a>
			</div>
			
			<div id="menu_items">
				<a href="/Socialyte/Home"><img src="/Socialyte/img/home_US.png" id="home_button" onmouseover="this.src='/Socialyte/img/home_S.png'" onmouseout="this.src='/Socialyte/img/home_US.png'"/></a>
				<img src="/Socialyte/img/profile_US.png" id="profile_button" onmouseover="this.src='/Socialyte/img/profile_S.png'" onmouseout="this.src='/Socialyte/img/profile_US.png'"/>
				<a href="/Socialyte/Post/new"><img src="/Socialyte/img/newpost_US.png" id="new_post_button" onmouseover="this.src='/Socialyte/img/newpost_S.png'" onmouseout="this.src='/Socialyte/img/newpost_US.png'"/></a>
				<img src="/Socialyte/img/subscriptions_US.png" id="subscriptions_button" onmouseover="this.src='/Socialyte/img/subscriptions_S.png'" onmouseout="this.src='/Socialyte/img/subscriptions_US.png'"/>
				
			</div>
			
			<div id="search_div">
				<form id="search_box" action="" method="GET" >
					<input class="blue_textbox" type="text" name="search" size="35" placeholder="Search for anything..">
					<input class="blue_button" id="submit_search" type="submit" value="Go" >
				</form>
			</div>

		</div>