<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Socialyte</display-name>
  <welcome-file-list>
    <welcome-file>FeedController</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.sclyt.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FeedController</servlet-name>
    <servlet-class>org.sclyt.controller.FeedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedController</servlet-name>
    <url-pattern>/Feed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllPostsController</servlet-name>
    <servlet-class>org.sclyt.controller.AllPostsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllPostsController</servlet-name>
    <url-pattern>/AllPosts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewPostController</servlet-name>
    <servlet-class>org.sclyt.controller.NewPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostController</servlet-name>
    <url-pattern>/Post/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>org.sclyt.controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>org.sclyt.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/Profile/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriptionController</servlet-name>
    <servlet-class>org.sclyt.controller.SubscriptionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriptionController</servlet-name>
    <url-pattern>/Subscriptions/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubscriberController</servlet-name>
    <servlet-class>org.sclyt.controller.SubscriberController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubscriberController</servlet-name>
    <url-pattern>/Subscribers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>org.sclyt.controller.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
</web-app>