@CHARSET "ISO-8859-1";

#loading_popup {
	z-index:1000;
	background-color:#F0F0F0; /*#99CCFF*/
	position:absolute;
	top:50px;
	left:50%;
	width:300px;
	height:45px;
	margin:0 0 0 -150px;
	border:1px solid #808080;
	border-radius:10px;
	text-align:center;
	padding:5px;
	visibility:hidden;
}

.message_popup {
	z-index:1000;
	background-color:#F0F0F0; /*#99CCFF*/
	position:absolute;
	top:50px;
	left:50%;
	width:300px;
	height:45px;
	margin:0 0 0 -150px;
	border:1px solid #808080;
	border-radius:10px;
	text-align:center;
	padding:5px;
}

#green_text {
	color:green;
	font-weight:bold;
}

#red_text {
	color:red;
	font-weight:bold;
}

.signup_textbox {
}

#login_signup_pane {
	width:70%;
	height:100%;
	margin:auto;
	padding-top:10%;
	padding-bottom:5%;
	text-align:center;
	
}


#signup_pane {
	float:left;
	text-align:center;
	width:45%;
}

#or_partition {
	width:10%;
	float:left;
}

#login_pane {
	margin-top:100px;
	float:right;
	text-align:center;
	width:45%;
}	
	
#signup_pane img {
	width:300px;
}

#login_pane img {
}

.form_textbox {
	text-align:center;
  	font-weight: bold;
	margin-bottom: 10px;
}

#submit_login {
	margin-top:10px;
}

#signup_text {
	font-size:small;
  	font-weight: bold;
}	